<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- TAILWIND CSS -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Youtube Downloader</title>
</head>
<body>
    <main class="h-[100vh] flex flex-col items center justify-center bg-slate-600">
        <h1 class="text-center font-bold bg text-5xl mb-30">Welcome to You<span class="text-red-500">Tube</span> downloader!</h1>
        <form method="POST" action="/download" class="flex justify-center items-center h-[50px] mb-10" id="download-form">
            <label for="url" class="text-xl mr-2">Enter video URL</label>
            <input type="text" id="url" name="url" required class="p-4 border mr-2 rounded-2xl w-[500px] h-full focus:outline-none">
            <button type="submit" class="px-6 rounded-2xl cursor-pointer bg-red-500 h-full">Download</button>
        </form>
        <div class="flex gap-4 justify-center items-start">
            <p class="font-bold text-l">Velocità: <span id="speed">0 B/s</span></p>
            <p class="font-bold text-l">Tempo rimanente: <span id="eta">0s</span></p>
        </div>
        <!-- Includi il file JavaScript esterno -->
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </main>
</body>
</html>